# Node.js (React)
chatai_front/node_modules
chatai_front/build
chatai_front/src/util/firebase.ts

# Java (Spring Boot)
chatai_back/.gradle
chatai_back/build
chatai_back/out
chatai_back/.idea
chatai_back/.mvn
chatai_back/target
chatai_back/src/main/resources/application-secret.yml

# 환경 설정 파일
*.env
*.log